@font-face {
    font-family: 'Gilroy';
    src: url(../fonts/Gilroy-Regular.woff2),
        url(../fonts/Gilroy-Regular.woff);
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}
@font-face {
    font-family: 'Gilroy';
    src: url(../fonts/Gilroy-Medium.woff2),
        url(../fonts/Gilroy-Medium.woff);
    font-weight: 500;
    font-display: swap;
    font-style: normal;
}
@font-face {
    font-family: 'Gilroy';
    src: url(../fonts/Gilroy-SemiBold.woff2),
        url(../fonts/Gilroy-SemiBold.woff);
    font-weight: 600;
    font-display: swap;
    font-style: normal;
}
@font-face {
    font-family: 'Gilroy';
    src: url(../fonts/Gilroy-Bold.woff2),
        url(../fonts/Gilroy-Bold.woff);
    font-weight: 700;
    font-display: swap;
    font-style: normal;
}

:root {
    --main-bg-desktop: linear-gradient(80.5deg, #83A4BD 11.55%, #A5A2B3 24.51%,
     #BA929B 33.33%, #BD8689 39.89%, 
     #C46F6A 47.85%, #C65857 55.62%, 
     #BF4145 65.14%, #9C2E37 75.49%, 
     #7A262E 84.66%, #5B1E23 95.55%, 
     #421F23 103.99%, #2D1C22 111.11%);
     --main-bg-mobile:linear-gradient(84.42deg, #83A4BD -18.33%, #A5A2B3 6.53%,
    #BA929B 23.44%, #BD8689 36.02%,
    #C46F6A 51.29%, #C65857 66.19%,
    #BF4145 84.44%, #9C2E37 104.29%,
    #7A262E 121.87%, #5B1E23 142.75%,
    #421F23 158.93%, #2D1C22 172.58%);
    --red: #F2323D;
    --red-hover: #C9000C;
    --font-color: #ffffff;
    --font-color-grey: #F2F2F2;
}


/* utility classes  -------------------------------------------*/

.page_white {
    background: rgba(255, 255, 255, 0.1);
}

.page_padding {
    padding: 0 30px;
}

.btn {
    color: inherit;
    font-size: 18px;
    font-weight: 600;
    line-height: 100%; 
    padding: 20px 32px;
    border-radius: 6px;
    background-color: var(--red);
}

.btn:hover {
    background-color: var(--red-hover);
}

/* main -------------------------------------------*/


.main {
    font-family: 'Gilroy', sans-serif;
    font-size: 14px;
    color: var(--font-color);
}

body {
    background: var(--main-bg-mobile);
    background-attachment: fixed;
}

html {
    scroll-behavior: smooth;
}

a {
    color: var(--font-color);
}

/* Navbar mobile mode ------------------------------------------------------------*/

.header {
    padding-top: 21px;
}

.navbar {
    position: relative;
}

.navbar__logo {
    margin-left: -8px;
}

.navbar-toggler {
    z-index: 3;
    height: 24px;
    width: 24px;
    position: absolute;
    top: 8px;
    right: 0;
    cursor: pointer;
    opacity: 0;
}

.navbar-toggler-icon {
    z-index: 2;
    position: absolute;
    top: 8px;
    right: 0;
    padding: 3px;
}

.navbar-collapse {
    position: absolute;
    top: 0;
    right: -10px;
    left: -10px;
    background: rgba(0, 0, 0, 0.51);
    backdrop-filter: blur(8.5px);
    height: 60vh;
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 60px 0px;

    transform: translateY(-150%);
    transition: 0.6s;
}

.navbar-toggler:checked ~ .navbar-collapse {
    transform: translate(0);
}

.navbar-menu,
.feedback-box {
    text-align: center;
}

.navbar-menu {
    font-size: 18px;
    font-weight: 500;
    color: var(--font-color-grey);
}

.navbar-menu__item {
    margin-bottom: 26px;
}

.navbar-menu__link {
    padding: 10px;
}

.feedback-phone {
    display: flex;
    justify-content: space-around;
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 15px;
}

/*  body -------------------------------------------------*/

/*  first block --- about us */
.body {
    padding-top: 50px;
}

.cost-calc {
    text-align: center;
    font-size: 20px;
    line-height: 26px;
    color: var(--font-color-grey);
}
.cost-calc span{
    font-weight: 700;
}

.cost-calc__desc {
    margin-top: 15px;
    font-size: 16px;
    font-weight: 400;
    line-height: 25.6px;
}

.cost-calc__btn {
    margin-top: 30px;
}

.first-page__img img {
    width: 100%;
}

.about-us {
    border-radius: 12px;
    margin-inline: 38px;
    padding: 10px 32px;
}

.about__item {
    margin: 30px 0;
    border-left: 1px solid rgba(233, 233, 233, 0.54);
    padding-left: 15px;
}

.about__desc {
    margin-top: 16px;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.6px;
}

/* second block --- areas of specialisation ----------------------*/

.spec-areas {
    margin-top: 40px;
    padding-block: 40px 10px;
    text-align: center;
}

.spec-areas__title {
    margin-bottom: 20px;
    font-size: 22px;
    font-weight: 600;
    line-height: 28.6px;
}

.areas-list {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}

.area {
    max-width: 300px;
    margin-bottom: 30px; 
    margin-inline: 8px;
    display: flex;
    flex-direction: column;
}

.area__img {
    width: 100%;
}

.area__subtitle {
    display: block;
    margin-top: 20px;
    font-weight: 500;
    font-size: 18px;
    line-height: 120%;
}

.area__desc {
    margin-top: 10px;
    padding-inline: 60px;
    font-size: 14px;
    font-weight: 400;
    line-height: 19.6px;
}

.area:nth-child(4) .area__desc {
    padding-inline: 0;
}

.area__list li {
    display: inline;
}

.area__list li::after {
    content: ',';
}

.area__list li:nth-child(4)::after {
    content: '';
}

/*  example img  -----------------------------------------------------------*/

.example-cost-calc-img {
    padding: 40px 30px;
}

.example-cost-calc-img img {
    width: 100%;
}

/*  stages of work ------------------------------------------ */

.work-stages {
    padding-block: 40px;
}

.work-stages__title {
    text-align: center;
}

.stage-list {
    display: grid;
    justify-items: center;
    padding-top: 11px;
}

.stage__item {
    width: 240px;
    height: 75px;
    display: flex;
    align-items: center;
    position: relative;

    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 10px 20px rgba(116, 18, 18, 0.05));
    border-radius: 6px;

    margin-top: 15px;
    margin-inline: 10px;
    padding-left: 15px;
}

.stage__item:nth-child(1) {
    background-color: var(--red);
    border: none;
}

.stage__item:nth-child(2) {
    padding-right: 36px;
}

.stage__disc {
    font-size: 14px;
    font-weight: 500;
    line-height: 23.1px;
}

.stage__num {
    font-size: 20px;
    font-weight: 700;

    position: absolute;
    top: 10px;
    right: 10px;
}

/*  sliders ---------------------------------------------- */

.slider {
    padding: 40px 0 40px 30px;
}

.slider__title {
    text-align: center;
    font-size: 22px;
    font-weight: 600;
    line-height: 28.6px;
    margin: 0 30px 30px 0;
}

.certification .slider__title {
    font-size: 20px;
    line-height: 26px;
}

.swiper-slide {
    width: auto;
}

.reviews-slider__img {
    width: 175px;
}

.finished-works-slider__img {
    width: 240px;
}

.certification-slider__img {
    width: 175px;
}

.swiper-slide img {
    width: 100%;
}

.slider-btn-wrapper {
    margin-right: 30px;
    padding-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-button-prev,
.swiper-button-next {
    position: static;
    background-repeat: no-repeat;
    background-position: center;
    width: 100px;
}

.swiper-button-next {
    background-image: url(../img/icons/arrow-right.svg);
    margin-left: 20px;
}

.swiper-button-prev {
    background-image: url(../img/icons/arrow-left.svg);
    margin-right: 20px;
}

.swiper-button-prev::after,
.swiper-button-next::after {
    display: none;
}

/* consultation-ordering, ordering-form -------------------------------*/

.consultation-ordering {
    padding-bottom: 40px;
}

.ordering-pic {
    display: flex;
    justify-content: center;
    
}

.pic-group {
    position: relative;
}

.pic-group__icon1,
.pic-group__icon2,
.pic-group__icon3 {
    position: absolute;
}

.pic-group__icon1 {
    top: 39px;
    left: -27px;
}

.pic-group__icon2 {
    bottom: -41px;
    right: -41px;
}

.pic-group__icon3 {
    display: none;
}

.pic-group__main-pic {
    max-width: 200px;
    display: block;
}

.ordering-form {
    border-block: 1px solid rgba(255, 255, 255, 0.2);
    padding-block: 30px;
}

.ordering-form__title {
    font-size: 20px;
    font-weight: 300;
    line-height: 26px;
}

.ordering-form__title span {
    font-weight: 700; 
}

.form {
    padding-top: 30px;
}

.form__input {
    display: block;
    width: 100%;
    margin-bottom: 12px;
    padding: 20px 30px;
    background: rgba(255, 255, 255, 0.15);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 6px;

    text-align: start;
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    color: var(--font-color);
}

.form__input::placeholder {
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    color: var(--font-color);
}

.form__button {
    width: 100%;
}

/* FAQ block ------------------------------------------- */

.faq {
    padding-block: 40px;
}

.faq__title {
    text-align: center;
    font-size: 22px;
    font-weight: 600;
    line-height: 28.6px;
}

.faq-item {
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 10px 20px rgba(116, 18, 18, 0.05));
    border-radius: 6px;
    padding: 16px;
    margin-top: 14px;
}

.faq-item__title {
    position: relative;
    display: block;
    font-size: 11.25px;
    font-weight: 500;
    line-height: 12.86px;
    cursor: pointer;
}

.faq-item__title::after {
    content: '';
    position: absolute;
    right: 0;
    width: 13px;
    height: 13px;
    background-image: url(../img/icons/faq-arrow-down.svg);
    background-repeat: no-repeat;
    background-position: center;
    
}

.faq-item__input {
    width: 0;
    height: 0;
    position: absolute;
    appearance: none;
}

.faq-item__text {
    max-height: 0;
    overflow: hidden;

    font-weight: 500;
    font-size: 9.6px;
    line-height: 170%;

    transition: 0.3s;
}

.faq-item__input:checked ~ .faq-item__text {
    max-height: 47px;
    height: auto;
    margin-top: 10px;
}

.faq-item__input:checked ~ .faq-item__title::after {
    background-image: url(../img/icons/faq-arrow-up.svg);
}

/* footer, map, contacts */

.footer {
    position: relative;
}

.map {
    width: 100%;
    height: 231px;
}

.contacts {
    background-color: #FDFDFD;
    color: #333333;
    text-align: center;
    padding-block: 28px 43px;
}

.contacts__title {
    font-weight: 600;
    font-size: 22px;
    line-height: 28.6px;
}

.contacts__links {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

.contacts__links a {
    color: #4F4F4F;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
}

.contacts__address {
    margin-top: 12px;
    font-weight: 400;
    font-size: 16px;
    line-height: 25.6px;
}

.contacts-socials {
    margin-top: 24px;
    display: flex;
    justify-content: center;
}

.social__link:nth-child(1)::before,
.social__link:nth-child(2)::after {
    content: '';
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    width: 32px;
    height: 32px;
    margin-inline: 15px;
}

.social__link:nth-child(1)::before {
    background-image: url(../img/icons/inst.svg);
}

.social__link:nth-child(1)::before:hover {
    background-image: url(../img/icons/inst-hover.svg);
}

.social__link:nth-child(2)::after {
    background-image: url(../img/icons/twitter.svg);
}

.social__link:nth-child(2)::after:hover {
    background-image: url(../img/icons/twitter-hover.svg);
}
